name: CI

on:
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: |
          npm ci
          npx task install
        
      - name: Build
        run: npx task build
      
      
      # Deploy client
        
      - name: Deploy client package
        if: success()
        uses: s0/git-publish-subdir-action@v2.5.1
        env:
          REPO: self
          BRANCH: package
          FOLDER: out/package
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Deploy {sha}:\n{msg}"


      # Deploy service

      - name: Write service .env file
        if: success()
        run: |
          cd out/service
          echo "BUNGIE_API_KEY=${{ vars.BUNGIE_API_KEY }}" >> .env
          echo "BUNGIE_AUTH_CLIENT_ID=${{ vars.BUNGIE_AUTH_CLIENT_ID }}" >> .env
          echo "BUNGIE_AUTH_CLIENT_SECRET=${{ vars.BUNGIE_AUTH_CLIENT_SECRET }}" >> .env

      - name: Clean up service directory
        if: success()
        run: |
          rm index.tsbuildinfo

      - name: Prepare service for GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: pages
          build_dir: "out/service"
          jekyll: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
