name: CI

on:
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  group: main
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      
      - name: Setup Node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'
          cache: pnpm

      - name: Install dependencies
        run: |
          pnpm install
          pnpm exec task install
        
      - name: Build
        run: pnpm exec task build
      
      
      # Deploy client
        
      - name: Deploy client package
        if: success()
        uses: s0/git-publish-subdir-action@v2.5.1
        env:
          REPO: self
          BRANCH: package
          FOLDER: out/package
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MESSAGE: "Deploy {sha}:\n{msg}"


      # Deploy service

      - name: Write required service files
        if: success()
        run: |
          cd out/service
          echo "BUNGIE_API_KEY=${{ vars.BUNGIE_API_KEY }}" >> .env
          echo "BUNGIE_AUTH_CLIENT_ID=${{ vars.BUNGIE_AUTH_CLIENT_ID }}" >> .env
          echo "BUNGIE_AUTH_CLIENT_SECRET=${{ vars.BUNGIE_AUTH_CLIENT_SECRET }}" >> .env
          echo "conduit.deepsight.gg" >> CNAME

      - name: Prepare service for GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: pages
          build_dir: "out/service"
          jekyll: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
